.friend_list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.item {
  display: grid;
  grid-template-columns: 1fr 2fr 3fr;
  margin: 5vh auto;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 0.5rem;
  background-color: rgb(40, 222, 37);
}

.status {
  border-radius: 50%;
  margin: auto 1.7rem;
  height: 30px;
  width: 30px;
}

.online {
  composes: status;
  background-color: green;
}

.offline {
  composes: status;
  background-color: red;
}

.avatar {
  margin: 0 auto;
}

.name {
  display: flex;
  flex-direction: column;
  align-items: left;
  padding: 0;
  text-align: left;
  font-weight: bold;
  font-size: 2.5rem;
}
