.transactionHistoryTable {
  margin: 5vh auto;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

  background-color: azure;
}

.headersRow {
  font-size: 24px;
  text-align: center;
}

tbody {
  background-color: #fff;
}

.columnHeader {
  width: 30%;
  padding: 10px 30px;
  background-color: #02bbd7;
  color: #fff;
  font-size: 24px;
  text-transform: uppercase;
  text-align: center;
}

.valuesRow {
  width: 33%;
  color: #000000;
  font-size: 14px;
  text-align: center;
  text-transform: capitalize;
}

.valuesRow:nth-child(even) {
  background-color: #d6e6e9;
}
